.redux-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  flex-direction: row;
  align-content: space-around;
  .sub-container {
    display: flex;
    width: 40%;
    height: 80%;
    background-color: #fbfbfd;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    .todo {
      display: flex;
      border: solid 1px #dedede;
      width: 80%;
      border-radius: 3px;
      padding: 2px;
      height: 55px;
    }
  }
}
